<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.phx-port.ingress</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/phx-port</string>
    <string>daemon</string>
    <string>--ingress-config</string>
    <string>/Library/Application Support/phx-port/ingress.toml</string>
    <string>--listen</string>
    <string>0.0.0.0:443</string>
    <string>--listen</string>
    <string>[::]:443</string>
    <string>--task-budget</string>
    <string>1024</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PHX_PORT_CONFIG</key>
    <string>/Library/Application Support/phx-port/state/ports.toml</string>
    <key>PHX_PORT_RUNTIME_DIR</key>
    <string>/private/var/run/phx-port</string>
  </dict>

  <key>UserName</key>
  <string>phx-port</string>
  <key>GroupName</key>
  <string>phx-port</string>
  <key>InitGroups</key>
  <true/>
  <key>Umask</key>
  <integer>63</integer>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>2</integer>
  <key>ExitTimeOut</key>
  <integer>65</integer>

  <key>SoftResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>65536</integer>
  </dict>
  <key>HardResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>65536</integer>
  </dict>

  <key>Sockets</key>
  <dict>
    <key>tls-ipv4</key>
    <dict>
      <key>SockNodeName</key>
      <string>0.0.0.0</string>
      <key>SockServiceName</key>
      <string>443</string>
      <key>SockFamily</key>
      <string>IPv4</string>
      <key>SockType</key>
      <string>stream</string>
      <key>SockProtocol</key>
      <string>TCP</string>
      <key>SockPassive</key>
      <true/>
    </dict>
    <key>tls-ipv6</key>
    <dict>
      <key>SockNodeName</key>
      <string>::</string>
      <key>SockServiceName</key>
      <string>443</string>
      <key>SockFamily</key>
      <string>IPv6</string>
      <key>SockType</key>
      <string>stream</string>
      <key>SockProtocol</key>
      <string>TCP</string>
      <key>SockPassive</key>
      <true/>
    </dict>
  </dict>
</dict>
</plist>
